<section id="learn-more">
  <div class="container">
    <h2 class="editable">Our Members</h2>
      <div id="current-members" class="members">
        {% for member in site.staff_members %}
          {% if member.past == false %}
            {% include staff-member.html member=member %}
          {% endif %}
        {% endfor %}
      </div>
  </div>
</section>

<section id="learn-more">
  <div class="container">
    <h2 id="past-members" class="editable">Our Past Members</h2>
      <div class="members">
        {% for member in site.staff_members %}
          {% if member.past == true %}
            {% include staff-member.html member=member %}
          {% endif %}
        {% endfor %}
      </div>
  </div>
</section>